<div class="video-conference-host video-conference-container">
  <div class="row display-flex">
    <div class="col-md-3">
      <div class="meeting-sidebar">
        <h3 class="meeting-title">{{ variables.meetingTitle }}</h3>
        {% if variables.host == false %}
        <div class="col-sm-12">
          <h4>Your Video</h4>
          <video id="participant-video" controls playsinline autoplay></video>
        </div>
        {% endif %}
        <div class="chart-container">
          <div id="conversation-panel"></div>
          <div id="key-press" style="text-align: right; display: none; font-size: 11px;">
          <span style="vertical-align: middle;"></span>
          <img src="https://www.webrtc-experiment.com/images/key-press.gif" style="height: 12px; vertical-align: middle;">
          </div>
          <textarea id="txt-chat-message"></textarea>
          <button class="btn btn-primary" id="btn-chat-message" disabled>Send</button>
          <img id="btn-attach-file" src="https://www.webrtc-experiment.com/images/attach-file.png" title="Attach a File">
          <img id="btn-share-screen" src="https://www.webrtc-experiment.com/images/share-screen.png" title="Share Your Screen">
        </div>
      </div>
    </div>
    <div class="col-md-9">
      <div class="meeting-content">
        <ul class="nav nav-tabs">
          <li class="nav-item">
            <a class="nav-link " data-toggle="tab" href="#meeting-participants">Meeting Participants</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" data-toggle="tab" href="#white-board">White Board</a>
          </li>
        </ul>

        <!-- Tab panes -->
        <div class="tab-content col-md-12">
          <div id="meeting-participants" class="tab-pane">
            <div class="row display-flex row-divider">
              <div class="host-video-container col-md-7">
                <h4 class="title">Host Video</h4>
                <div class="host-video-container">
                  <video id="main-video" controls playsinline autoplay></video>
                </div>
              </div>
              <div class="other-participants-container col-md-5">
                <h4 class="title">Other Participants</h4>
                <div class="other-participants">
                  <div id="other-participants" class=""></div>
                </div>
              </div>
            </div>
          </div>
          <div id="white-board" class="tab-pane active"><br>
            <div id="widget-container" ></div>
            <canvas id="temp-stream-canvas" style="display: none;"></canvas>
          </div>
        </div>
      </div>
      </div>
</div>
</div>
