.video-conference-container {
  .meeting-sidebar {
    background-color: #80808024;
    
    .meeting-title {
      margin-right: 2px;
      line-height: 1.42857143;
      border: 1px solid transparent;
      margin: 0px;
      background: #1e282c;
      color: #FFF;
      padding: 10px 15px;
      font-size: 14px;
    }
    
    video {
      width: 100%;
      border-radius: 5px;
    }
    
    #btn-attach-file {
      display: none;
    }
    
    #btn-share-screen {
      display: none;
    }
  }
  
  .meeting-content {
    
    ul {
      &.nav-tabs {
        li {
          a {
            background: #1e282c;
            color: #FFF;
            border-radius: 10px 10px 0 0;
          }
          
          &.active {
            a {
              background: #2c3b41;
              font-weight: 700;
            }
          }
        }
      }
      
    }
    
    .tab-content {
      background-color: #80808024;
    }
    
    .host-video-container {
      video {
        width: 100%;
        border-radius: 5px;
      }
    }
    
    .other-participants {
      .video-container {
        
        video {
          padding: 5px;
          width: 100%;
          border-radius: 5px;
        }
      }
    }
    
    .other-participants {
      background: #fff;
      
      h4.title {
        background: #222d32;
        padding: 10px 15px;
        margin: 0;
        color: #fff;
      }
    }
    
    .host-video-container {
      h4.title {
        color: #222d32;
        font-weight: 700;
      }
    }
    
    .other-participants-container {
      
      .other-participants {
        background: #fff;
        padding-top: 10px;
      }
      
      h4.title {
        background: #222d32;
        padding: 10px 15px;
        margin: 0;
        color: #fff;
      }
    }
    
  }
  
}

.vertical-divider {
  position: absolute;
  z-index: 10;
  top: 50%;
  left: 50%;
  margin: 0;
  padding: 0;
  width: auto;
  height: 50%;
  line-height: 0;
  text-align:center;
  text-transform: uppercase;
  transform: translateX(-50%);
}

.vertical-divider:before, 
.vertical-divider:after {
  position: absolute;
  left: 50%;
  content: '';
  z-index: 9;
  border-left: 1px solid rgba(34,36,38,.15);
  border-right: 1px solid rgba(255,255,255,.1);
  width: 0;
  height: calc(100% - 1rem);
}

.row-divided > .vertical-divider {
  height: calc(50% - 1rem);    
}

.vertical-divider:before {
  top: -100%;
}

.vertical-divider:after {
  top: auto;
  bottom: 0;
}

.row-divided {
  position:relative;
}

.row-divided > [class^="col-"],
.row-divided > [class*=" col-"] {
  padding-left: 30px;  /* gutter width (give a little extra room) 2x default */
  padding-right: 30px; /* gutter width (give a little extra room) 2x default */
}

.row{
  overflow: hidden; 
}

[class*="col-"]{
  margin-bottom: -99999px;
  padding-bottom: 99999px;
}

/* width */
::-webkit-scrollbar {
  width: 8px;
  background: #ecf0f5;
}

/* Track */
::-webkit-scrollbar-track {
  outline: 1px solid #322822;
  border-radius: 5px;
  background: transparent;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  box-shadow: inset 0 0 2px #222d32;
  border-radius: 5px;
  background: #222d32;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #222d32; 
}